.box{
    margin: 0 auto;
    padding-top: 100px;

}
.item{
    display: flex;
    justify-content: center;
}
.btn{
    color: white;
    text-decoration: none;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
    
}
.btn:hover{
    background-color: darkorange;
    transform:skewY(10deg)
}
