body{
    background-color: cornflowerblue;
}
.wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header header header"
    "nav section section";
}
.border{
    border: 1px solid white;
    text-align: center;
    color: white;
}
.header {
    grid-area: header;
    height: 100px;
}
.nav {
    grid-area: nav;
    height: 500px;
}
.section {
    grid-area: section;
}