body{
    background: rgb(30, 131, 208);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 40pt;
    margin-top: 0;
}

header {
    width: 95.75%;
    margin-left: 2%;
    border: 2px solid;
    border-radius: 4px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 25pt;
    margin-bottom: 10px;
}

.secondWrapper {
    display: flex;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    font-size: 25pt;
}

section {
    width: 80%;
    border: 2px solid;
    border-radius: 4px;
    padding-top: 16%;
    padding-bottom: 16%;
}

nav {
    width: 19%;
    border: 2px solid;
    border-radius: 4px;
    margin-right: 10px;
    padding-top: 16%;
}