.img1 {
    background-image: url('https://github.com/erv1988/Web-development-tasks-v2024/blob/master/02/img/mosaic.jpg?raw=true');
    background-size: contain;
    background-repeat: repeat;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;
}